#band
    padding-bottom: 40px

    h1
        position: relative

    .permalink
        visibility: hidden
        float: right
        color: $grey

    .share
        visibility: hidden

        div
            float: left

#band_name
    visibility: hidden

#band_now
    visibility: hidden

#band_cover
    width: 725px
    text-align: center
    margin: 20px 107px 50px 107px
    position: relative
    visibility: hidden

#band_mask
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: #fff
    opacity: 1
    z-index: 0

