#homepage

    form
        margin: 55px 0 50px 280px

        div.captcha
            margin: 20px 0 0 0
            width: 354px
            text-align: right
            color: $grey

            img
                margin: 0 0 -6px 0

            input
                width: 50px
                font-size: $font_small

        div
            margin: 10px 0
            height: 35px

            p
                color: $light_grey
                font-size: $font_tiny
            p.notice_1
                margin: 5px 0 0 100px
            p.notice_2
                margin: 12px 0 0 100px
            p

            label
                display: block
                height: 20px

                span
                    float: left
                    display: block
                    width: 100px
                    font-size: $font_normal
                    color: $grey
                    font-family: myriad_2
                    padding: 5px 0 0 0

                input[type=text]
                    font-size: $font_normal
                    color: $grey
                    background: image-url('input_background.jpg')
                    border: none
                    width: 248px
                    height: 29px
                    padding: 0 3px

                input[type=submit]
                    width: 60px
                    height: 29px
                    display: block
                    margin: 0 0 0 295px
                    text-indent: -999px
                    border: none
                    cursor: pointer
                    background: image-url('button_submit.jpg')

                input[type=submit]:hover
                    background: image-url('button_submit_hover.jpg')


