SetEnv magic_quotes_gpc 1
SetEnv magic_quotes_runtime 0
SetEnv magic_quotes_sybase 0
SetEnv REGISTER_GLOBALS 0

#AddHandler php5-script .php

RewriteEngine on

RewriteCond %{HTTP_HOST} ^.*nowonitunes\.com [NC]
RewriteCond %{HTTP_HOST} !^www\.nowonitunes.com [NC]
RewriteCond %{HTTP_HOST} !^preprod\.nowonitunes.com [NC]
RewriteRule ^(.*)  http://www.nowonitunes.com/$1 [L,R]

#HOME
RewriteRule ^/?$ index.php?page=homepage [L]

# REMOTE
RewriteRule ^remote/([a-zA-Z0-9_\/]+)$ index.php?remote=$1 [QSA,L]

# TOP
RewriteRule ^top/?([0-9]*)$ index.php?page=top&p=$1 [L]

# RANDOM
RewriteRule ^random/?([0-9]*)$ index.php?page=random&p=$1 [L]

# LATEST
RewriteRule ^latest/?([0-9]*)$ index.php?page=latest&p=$1 [L]

# TERMS
RewriteRule ^terms$ index.php?page=terms [L]

# ADMIN
RewriteRule ^admin/([a-zA-Z0-9_]+)/?([0-9]*)$ index.php?page=admin_$1&p=$2 [QSA,L]

# BAND
RewriteRule ^([a-zA-Z0-9]+)$ index.php?page=band&id=$1 [L]

