SetEnv magic_quotes_gpc 1
SetEnv magic_quotes_runtime 0
SetEnv magic_quotes_sybase 0
SetEnv REGISTER_GLOBALS 0

#AddHandler php5-script .php

RewriteEngine on

#RewriteCond %{HTTP_HOST} ^.*aaaaaaaaaaa\.org [NC]
#RewriteCond %{HTTP_HOST} !^www\.aaaaaaaaaaa.org [NC]
#RewriteRule ^(.*)  http://www.aaaaaaaaaaa.org/$1 [L,R]

#HOME
RewriteRule ^/?$ index.php?page=homepage [L]

# REMOTE
RewriteRule ^remote/([a-zA-Z0-9_\/]+)$ index.php?remote=$1 [L]

# TOP
RewriteRule ^top$ index.php?page=top [L]

# RANDOM
RewriteRule ^random$ index.php?page=random [L]

# LATEST
RewriteRule ^latest$ index.php?page=latest [L]

# BAND
RewriteRule ^([a-zA-Z0-9]+)$ index.php?page=band&id=$1 [L]

