$black: #444
$white: #fff
$blue: #0088cc
$grey: #999999
$dark_grey: #d5d5d5
$batman_grey: #aaa

$red: #ff9999
$green: #99ff99
$yellow: #ffff99

$light_red: #ffcccc
$light_green: #ccffcc
$light_yellow: #ffffcc
$light_grey: #ccc

$very_light_green: #f0fff0
$very_light_yellow: #fffff0
$very_light_red: #fff0f0
$very_light_grey: #f9f9f9

$border_radius_normal: 4px
$border_radius_large: 6px

$font_large: 40px
$font_big: 28px
$font_medium: 22px
$font_normal: 16px
$font_small: 13px
$font_tiny: 10px

