@import compass/css3
@import compass/reset
@import compass/utilities/general

@import conf
@import view/block/menu
@import view/band/item
@import view/pagination
@import view/homepage
@import view/band
@import view/top
@import view/wait
@import view/random
@import view/official
@import view/latest
@import view/search
@import view/terms

.main_content
    width: 980px
    margin: 0 auto
    padding: 2px 0 0 0

.clear
    clear: both


/* ========================== BODY */

body
    background: image-url('background.jpg')
    background-repeat: repeat-x
    background-color: #eee
    font-family: myriad, sans-serif
    font-size: $font_small
    color: $black
    height: 100%
    width: 100%
    position: relative


/* ========================== PAGE */

.page
    margin: 0 0 20px 0


/* ========================== PAGE */

.block
    background: $white
    border: 1px solid $dark_grey
    padding: 20px
    +border-radius($border_radius_normal)


/* ========================== FOOTER */

#footer
    color: $batman_grey
    line-height: 12px
    margin: 0 0 20px 0
    font-size: $font_tiny

    .right
        float: right


/* ========================== A */

a
    color: $blue
    text-decoration: none

a:hover
    text-decoration: underline

/* ========================== H1 */

h1
    font-size: $font_large
    color: $black
    text-align: center
    margin: 30px 0 10px 0


/* ========================== H2 */

h2
    font-size: $font_medium
    color: $grey
    text-align: center
    margin: 0 0 5px 0


/* ========================== MESSAGE */

#messages
    p
        border-style: solid
        border-width: 1px
        border-color: $grey
        +border-radius($border_radius_normal)
        background: $white
        background-repeat: no-repeat
        background-position: 20px center
        padding: 20px 20px
        margin: 0 0 20px 0
        color: $black
        font-weight: bold

    .feedback
        padding-left: 80px
        background-image: image-url('feedback_icon.png')
        border-color: $light_green
        background-color: $very_light_green

    .warning
        padding-left: 80px
        background-image: image-url('warning_icon.png')
        border-color: $light_red
        background-color: $very_light_red

