$black: #000

@import compass/css3
@import compass/reset
@import compass/utilities/general

@import view/block/top
@import view/homepage
@import view/band
@import view/top
@import view/random
@import view/latest

.main_content
    max-width: 1050px
    min-width: 880px
    margin: 0 auto
    padding: 0 20px
    position: relative


/* ========================== BODY */

body
    background: #ffffff image-url('background_texture.gif')
    font-family: myriad, sans-serif
    font-size: 10px
    color: $black

