@charset "UTF-8";
/* line 14, ../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

@font-face {
  font-family: "myriad_1";
  src: local("☺"), url('../../media/fonts/MyriadPro-Semibold.otf') format('opentype');
}

@font-face {
  font-family: "myriad_2";
  src: local("☺"), url('../../media/fonts/MyriadPro-Regular.otf') format('opentype');
}

/* line 1, ../src/view/block/top.sass */
#top {
  margin: 20px 0;
}
/* line 4, ../src/view/block/top.sass */
#top .menu {
  height: 38px;
}
/* line 7, ../src/view/block/top.sass */
#top .menu li {
  float: left;
  display: block;
  height: 38px;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -999px;
  position: relative;
}
/* line 16, ../src/view/block/top.sass */
#top .menu li a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 21, ../src/view/block/top.sass */
#top .menu li.home {
  width: 200px;
  cursor: pointer;
  background-image: url('../../media/layout/button_home.png?1290086925');
}
/* line 25, ../src/view/block/top.sass */
#top .menu li.home:hover {
  background-image: url('../../media/layout/button_home_hover.png?1290086925');
}
/* line 28, ../src/view/block/top.sass */
#top .menu li.latest {
  width: 103px;
  cursor: pointer;
  background-image: url('../../media/layout/button_latest.png?1290081790');
}
/* line 32, ../src/view/block/top.sass */
#top .menu li.latest:hover {
  background-image: url('../../media/layout/button_latest_hover.png?1290081797');
}
/* line 35, ../src/view/block/top.sass */
#top .menu li.top {
  width: 103px;
  cursor: pointer;
  background-image: url('../../media/layout/button_top.png?1290081816');
}
/* line 39, ../src/view/block/top.sass */
#top .menu li.top:hover {
  background-image: url('../../media/layout/button_top_hover.png?1290081823');
}
/* line 42, ../src/view/block/top.sass */
#top .menu li.random {
  width: 103px;
  cursor: pointer;
  background-image: url('../../media/layout/button_random.png?1290087934');
}
/* line 46, ../src/view/block/top.sass */
#top .menu li.random:hover {
  background-image: url('../../media/layout/button_random_hover.png?1290087934');
}
/* line 49, ../src/view/block/top.sass */
#top .menu li.create {
  width: 207px;
  cursor: pointer;
  background-image: url('../../media/layout/button_create.png?1290081863');
}
/* line 53, ../src/view/block/top.sass */
#top .menu li.create:hover {
  background-image: url('../../media/layout/button_create_hover.png?1290081869');
}
/* line 56, ../src/view/block/top.sass */
#top .menu li.share {
  padding: 0 0 0 80px;
  width: 184px;
  text-indent: 0;
  background-image: url('../../media/layout/button_share.png?1290081883');
}
/* line 62, ../src/view/block/top.sass */
#top .menu li.share .twitter,
#top .menu li.share .facebook {
  width: 75px;
  height: 25px;
  float: left;
  margin: 6px 5px 0 0;
}

/* line 3, ../src/view/homepage.sass */
#homepage form {
  margin: 55px 0 50px 280px;
}
/* line 6, ../src/view/homepage.sass */
#homepage form div.captcha {
  margin: 20px 0 0 0;
  width: 354px;
  text-align: right;
  color: #8a8a8a;
}
/* line 12, ../src/view/homepage.sass */
#homepage form div.captcha img {
  margin: 0 0 -6px 0;
}
/* line 15, ../src/view/homepage.sass */
#homepage form div.captcha input {
  width: 50px;
  font-size: 12px;
}
/* line 19, ../src/view/homepage.sass */
#homepage form div {
  margin: 10px 0;
  height: 35px;
}
/* line 23, ../src/view/homepage.sass */
#homepage form div p {
  color: #cccccc;
  font-size: 10px;
}
/* line 26, ../src/view/homepage.sass */
#homepage form div p.notice_1 {
  margin: 5px 0 0 100px;
}
/* line 28, ../src/view/homepage.sass */
#homepage form div p.notice_2 {
  margin: 12px 0 0 100px;
}
/* line 32, ../src/view/homepage.sass */
#homepage form div label {
  display: block;
  height: 20px;
}
/* line 36, ../src/view/homepage.sass */
#homepage form div label span {
  float: left;
  display: block;
  width: 100px;
  font-size: 18px;
  color: #8a8a8a;
  font-family: myriad_2;
  padding: 5px 0 0 0;
}
/* line 45, ../src/view/homepage.sass */
#homepage form div label input[type=text] {
  font-size: 18px;
  color: #8a8a8a;
  background: url('../../media/layout/input_background.jpg?1290084669');
  border: none;
  width: 248px;
  height: 29px;
  padding: 0 3px;
}
/* line 54, ../src/view/homepage.sass */
#homepage form div label input[type=submit] {
  width: 60px;
  height: 29px;
  display: block;
  margin: 0 0 0 295px;
  text-indent: -999px;
  border: none;
  cursor: pointer;
  background: url('../../media/layout/button_submit.jpg?1290085092');
}
/* line 64, ../src/view/homepage.sass */
#homepage form div label input[type=submit]:hover {
  background: url('../../media/layout/button_submit_hover.jpg?1290085092');
}

/* line 1, ../src/view/band.sass */
#band {
  padding-bottom: 40px;
}
/* line 4, ../src/view/band.sass */
#band .cover {
  width: 725px;
  text-align: center;
  margin: 20px 107px 50px 107px;
}
/* line 9, ../src/view/band.sass */
#band .permalink {
  float: right;
  color: #8a8a8a;
}
/* line 14, ../src/view/band.sass */
#band .share div {
  float: left;
}

/* line 31, ../src/main.sass */
.main_content {
  width: 980px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

/* ========================== BODY */
/* line 40, ../src/main.sass */
body {
  background: url('../../media/layout/background.jpg?1290081584');
  font-family: myriad, sans-serif;
  font-size: 12px;
  color: black;
}

/* ========================== PAGE */
/* line 49, ../src/main.sass */
.page {
  background: white;
  border: 1px solid #d5d5d5;
  padding: 20px;
  margin: 0 0 20px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

/* ========================== FOOTER */
/* line 59, ../src/main.sass */
#footer {
  color: #aaaaaa;
  line-height: 14px;
  margin: 0 0 20px 0;
}
/* line 64, ../src/main.sass */
#footer .right {
  float: right;
}

/* ========================== A */
/* line 70, ../src/main.sass */
a {
  color: #0088cc;
  text-decoration: none;
}

/* line 74, ../src/main.sass */
a:hover {
  text-decoration: underline;
}

/* ========================== H1 */
/* line 79, ../src/main.sass */
h1 {
  font-size: 50px;
  color: black;
  font-family: myriad_1;
  text-align: center;
  margin: 30px 0 10px 0;
}

/* ========================== H2 */
/* line 89, ../src/main.sass */
h2 {
  font-size: 26px;
  color: #8a8a8a;
  font-family: myriad_2;
  text-align: center;
  margin: 0 0 5px 0;
}
