#menu
    margin: 20px 0

    .menu
        height: 46px

        li
            float: left
            display: block
            height: 46px
            background-position: center center
            background-repeat: no-repeat
            position: relative

            a
                display: block
                width: 100%
                height: 100%

        li.home
            width: 161px
            cursor: pointer
            text-indent: -9999px
            background-image: image-url('button_home.png')
        li.home:hover
            background-image: image-url('button_home_hover.png')

        li.latest
            width: 103px
            cursor: pointer
            text-indent: -9999px
            background-image: image-url('button_latest.png')
        li.latest:hover
            background-image: image-url('button_latest_hover.png')

        li.top
            width: 84px
            cursor: pointer
            text-indent: -9999px
            background-image: image-url('button_top.png')
        li.top:hover
            background-image: image-url('button_top_hover.png')

        li.random
            width: 107px
            cursor: pointer
            text-indent: -9999px
            background-image: image-url('button_random.png')
        li.random:hover
            background-image: image-url('button_random_hover.png')

        li.official
            width: 135px
            cursor: pointer
            text-indent: -9999px
            background-image: image-url('button_official.png')
        li.official:hover
            background-image: image-url('button_official_hover.png')

        li.create
            width: 114px
            cursor: pointer
            text-indent: -9999px
            background-image: image-url('button_create.png')
        li.create:hover
            background-image: image-url('button_create_hover.png')

        li.search
            width: 274px
            background-image: image-url('search_background.png')

            input
                width: 210px
                padding: 0 20px 0 0
                height: 22px
                margin: 11px 0 0 28px
                border: none
                background: none
                font-size: $font_normal
                color: $grey
                background: image-url('search_icon.png')
                background-repeat: no-repeat
                background-position: center right


